#design{
    background-image:"https://previews.123rf.com/images/9george/9george1707/9george170700438/82113680-math-linear-mathematics-education-circle-background-with-geometrical-plots-seamless-background-doodl.jpg" ;
}
#text{
    background-color: red;
}
#input-1{
    font-weight: bolder;
    width: 300px;
    height: 50px;
}